In [2]:
import pandas as pd
import numpy as np


import nltk
# nltk.download('wordnet')

In [3]:
df=pd.read_csv("drugsComTrain_raw.csv")
df

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37
...,...,...,...,...,...,...,...
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116

In [4]:
stopwords=nltk.corpus.stopwords.words('english')
len(stopwords[:])

179

In [5]:
df["cleaned_review"]=df["review"].apply(lambda x:x.split())
df["cleaned_review"]

0         ["It, has, no, side, effect,, I, take, it, in,...
1         ["My, son, is, halfway, through, his, fourth, ...
2         ["I, used, to, take, another, oral, contracept...
3         ["This, is, my, first, time, using, any, form,...
4         ["Suboxone, has, completely, turned, my, life,...
                                ...
161292    ["I, wrote, my, first, report, in, Mid-October...
161293    ["I, was, given, this, in, IV, before, surgey....
161294    ["Limited, improvement, after, 4, months,, dev...
161295    ["I&#039;ve, been, on, thyroid, medication, 49...
161296    ["I&#039;ve, had, chronic, constipation, all, ...
Name: cleaned_review, Length: 161297, dtype: object

In [6]:
def remove_sw(ls):
    l=[word for word in ls if word not in stopwords]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(remove_sw)

In [7]:
df.cleaned_review

0         ["It, side, effect,, I, take, combination, Bys...
1         ["My, son, halfway, fourth, week, Intuniv., We...
2         ["I, used, take, another, oral, contraceptive,...
3         ["This, first, time, using, form, birth, contr...
4         ["Suboxone, completely, turned, life, around.,...
                                ...
161292    ["I, wrote, first, report, Mid-October, 2014.,...
161293    ["I, given, IV, surgey., I, immediately, becam...
161294    ["Limited, improvement, 4, months,, developed,...
161295    ["I&#039;ve, thyroid, medication, 49, years,, ...
161296    ["I&#039;ve, chronic, constipation, adult, lif...
Name: cleaned_review, Length: 161297, dtype: object

In [8]:
def remove(ls):
    l=[word for word in ls if word!="\"I&#039;ve"]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(remove)
def firstword(sentence):
    if sentence[0][0]=='\"':
        s=sentence[0][1:]
        sentence[0]=s
        return sentence
    else:
        return sentence
    
df["cleaned_review"]=df["cleaned_review"].apply(firstword)

In [9]:
def remove_sw(ls):
    l=[word for word in ls if word not in stopwords]
    return l
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:remove_sw(x))
df.tail()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125,"[I, wrote, first, report, Mid-October, 2014., ..."
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34,"[I, given, IV, surgey., I, immediately, became..."
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,"[Limited, improvement, 4, months,, developed, ..."
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79,"[thyroid, medication, 49, years,, I, spent, fi..."
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116,"[chronic, constipation, adult, life., Tried, L..."

## lametize function

In [10]:
from nltk.stem import WordNetLemmatizer
wn_lemmatizer=WordNetLemmatizer()

In [11]:
punctuations=['.','?','!',':',',',';']

def lemmatizer(tokenize_sentence):
    for word in tokenize_sentence:
        if word in punctuations:
            tokenize_sentence.remove(word)
    lemmetize_list=[]
    for word in tokenize_sentence:
        lemmetize_list.append(wn_lemmatizer.lemmatize(word))
    return lemmetize_list
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:lemmatizer(x))

In [12]:
df["cleaned_review"][0]

['It',
 'side',
 'effect,',
 'I',
 'take',
 'combination',
 'Bystolic',
 '5',
 'Mg',
 'Fish',
 'Oil"']

In [13]:
type(df["cleaned_review"][0][0])

str

In [14]:
def changetostring(ls):
    str=""
    for i in ls:
        str=str+i+" "
    return str
df["cleaned_review"]=df["cleaned_review"].apply(lambda x:changetostring(x))
df["cleaned_review"].head()

0    It side effect, I take combination Bystolic 5 ...
1    My son halfway fourth week Intuniv. We became ...
2    I used take another oral contraceptive, 21 pil...
3    This first time using form birth control. I&#0...
4    Suboxone completely turned life around. I feel...
Name: cleaned_review, dtype: object

In [15]:
df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount,cleaned_review
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27,"It side effect, I take combination Bystolic 5 ..."
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192,My son halfway fourth week Intuniv. We became ...
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17,"I used take another oral contraceptive, 21 pil..."
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10,This first time using form birth control. I&#0...
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37,Suboxone completely turned life around. I feel...

In [16]:
type(df["cleaned_review"][0])

str

In [17]:
df['drugName'].nunique()

3436

In [18]:
df['condition'].nunique()

884

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['cleaned_review'], df[['drugName', 'condition']], test_size=0.3, random_state=0)
X_train.head()

19083     I able breathe finally. I always breath. All d...
79424     This work me. I side effect didn&#039;t lose w...
85461     Take 3x/day fibromyalgia - lifesaver! Tried al...
129678    This medicine good me, it&#039;s strong, contr...
148646    I started taking January 2014 started working ...
Name: cleaned_review, dtype: object

In [21]:
o1=OneHotEncoder(sparse=False,handle_unknown='ignore')

In [22]:
y_train2drug=pd.DataFrame(o1.fit_transform(y_train[['drugName']]))
y_train2condi =pd.DataFrame(o1.fit_transform(y_train[['condition']]))

In [23]:

y_test2drug=pd.DataFrame(o1.transform(y_test[['drugName']]))
y_test2condi=pd.DataFrame(o1.transform(y_test[['condition']]))

In [24]:
y_test2drug.head()

,0,1,2,3,4,5,6,7,8,9,...,811,812,813,814,815,816,817,818,819,820
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
y_test2condi.head()

,0,1,2,3,4,5,6,7,8,9,...,811,812,813,814,815,816,817,818,819,820
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
tfidf=TfidfVectorizer()

In [28]:
X_train_sparse = tfidf.fit_transform(X_train)
X_test_sparse = tfidf.transform(X_test)

In [29]:
X_train_df=pd.DataFrame(X_train_sparse.toarray())

In [30]:
len(X_train_df.columns)

43636

In [31]:
X_test_df=pd.DataFrame(X_test_sparse.toarray())

In [32]:
len(X_test_df.columns)

43636

In [33]:
import joblib
joblib.dump(tfidf,'tfidf_for_review.pkl')

['tfidf_for_review.pkl']

In [34]:
import torch
import torch.nn as nn
import torch.nn.functional as F

class Model(nn.Module):
    
    def __init__(self, input_features=43636, hidden1=256, hidden2=32, output_features=821):
        super(Model, self).__init__()
        self.fc1 = nn.Linear(input_features, hidden1)
        self.fc2 = nn.Linear(hidden1, hidden2)
        self.out = nn.Linear(hidden2, output_features)

    def forward(self, x):

        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        
        return torch.sigmoid(x)

In [ ]:
#training 

# 43636

# GD -> All examples -> Model -> Loss -> Optimize = Update
# SGD -> Not all examples but one -> Model -> Loss -> Optimize -> Repeat for all examples
# MBGD -> Not one not all, but k examples -> Model -> Loss -> Optimize -> Repeat for next batch

# Batch size = 100; Total examples = 10000
batch_size = 1024
epoch = 8
model = Model()
learning_rate = 1e-3